<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel='icon' href={{asset('dist/img/favicon.ico')}} type='image/x-icon'/ >

        <title>CSWeb: Login</title>

        <!-- Custom CSS -->
        <link href={{asset('dist/css/sb-admin-2.css')}} rel="stylesheet">

        <!-- ALW - Custom CSS -->
        <link href={{asset('dist/css/cspro-styles.css')}} rel="stylesheet">

        <!-- Custom Fonts -->
        <link href={{asset('bower_components/fontawesome-free/css/all.min.css')}} rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    
    <body class="bg-dark">

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-dark shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">

                                <div class="col-lg-4 d-none d-lg-block navbar-cspro">
                                   
                                    <p class="subtitle-text-cspro">
                                        <img class="center" src={{asset('dist/img/logo_silver.png')}}>
                                    </p>
                                    <p class="title-text-cspro">CSWeb {{ csproVersion }}</p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Sign in</h1>
                                        </div>
                                        <form class="user" action="{{ path('login_check') }}" method="post" enctype="multipart/form-data">
                                            {% if error %}
                                                <div class="alert alert-danger" role="alert">{{ error|raw }}
                                                    {% if errorDetails %}
                                                        <a data-toggle="collapse" href="#errorDetails">Details...</a>
                                                        <div class="collapse" id="errorDetails">
                                                            <br/>
                                                            <div>{{ errorDetails }}</div>
                                                        </div>
                                                    {% endif %}                                                                        
                                                </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                       name="_username" placeholder="User Name" value="{{ last_username }}"  required autofocus>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                       name="_password" placeholder="Password" value=""  required>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Login
                                            </button>
                                            <input type="hidden" name="_target_path" value="dashboard" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- jQuery -->
            <script src={{asset('bower_components/jquery/jquery.min.js')}}></script>

            <!-- Custom Theme JavaScript -->
            <script src={{asset('dist/js/sb-admin-2.js')}}></script>

    </body>

</html>
